
$btnColor: rgb(251, 97, 123);

html,
body {
    margin: 0;
    padding: 0;
    max-width: 1570px;
    box-sizing: border-box;
}

nav{
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo{
    &__main{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 100%;
        height: 60px;
        color: white;
    }}
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        gap: 3px;
    }
    li{
        flex: 33.33%;
        line-height: 50px;
        text-align: center;
        list-style-type: none;
        background-color: palevioletred;
    }


article{
    margin-top: 160px;
}

.layout__inner{
    display: flex;
    width: 70%;
    margin: 40px auto;
    gap: 30px;
}

// .card{
//     // flex: 33.33%;
// }

.card{
    text-align: center;
    flex: 33.33%;
    &__img{
        height: 300px;
        overflow: hidden;
        margin-bottom: 10px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
            transition: transform 0.5s ease;
        }
    }
    &__btn {
        width: 96%;
        line-height: 35px;
        transform: skewX(-30deg);
        border: 1.5px solid $btnColor;
        box-shadow: 5px 4px 5px $btnColor;
        background-color: white;
        transition: all 0.7s ease;
    } 
}

.card{
    &__img a:hover img{
        transform: scale(1.1);
    }

    &__btn:hover{
        background-color: $btnColor;
        color: white;
    }
}
.txt-box{
    width: 70%;
    margin: 0 auto;
    &__header{
        cursor: pointer;
        background-color: rgb(255, 71, 102);
        height: 60px;
        line-height: 65px;
        width: 100%;
        position: relative;
        color: white;
        &::after{
            content: "+";
            position: absolute;
            top: 0;
            right: 30px;
            font-size: 30px;
        }
    }
    &__para{
        visibility: hidden;
        height: 0;
        opacity: 0;
    }
    &.show{
        .txt-box__para {
            opacity: 1;
            height: auto;
            visibility: visible;
             transition: all 1s ease;
        }
            

        .txt-box__header {
            &:after {
                content: '-';
                font-size: 50px;
            }
        }

    }
}

.txt-box__header h2{
    margin-left: 20px;
}

@media  screen and (max-width: 800px) {
    .layout__inner{
        width: 80%;
    }

    .txt-box{
        width: 80%;
    }

}

@media screen and (min-width: 400px) and (max-width: 600px) {
    .layout__inner{
        width: 90%;
        flex-wrap: wrap;
        margin-left: 45px;
    }

    .card{
        max-width: calc(50% - 30px);
        &__img{
        height: 300px;
        margin-bottom: 10px;
        }
    }

}

@media screen and (max-width: 400px) {
    .layout__inner{
        width: 90%;
        flex-wrap: wrap;
    }

    .card{
        flex: 100%;
    }
}

