.c-btn{
    width: 130px;
    height: 50px;
    
    a{
        color: white;
        height: 100%;
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    &--signin{
        border: 1px solid $white;
        border-radius: 25px;
    }

    &--discover{
        margin: 0 auto;
        background-color: #e76f51;
        border-radius: 25px;
        width: 205px;
    }
    &--readmore{
        background-color: #8d8d8d1a;
        border-radius: 25px;
        margin: 0 auto;

        a{
            color: #8d8d8d;
        }
    }
    &--viewall{
        border: 1px solid #e76f51;
        border-radius: 25px;
        margin: 0 auto;
        width: 205px;

        a{
            color: #e76f51;
            font-size: 18px;
        }

        &:hover{
            background-color: #e76f51;
            a{
                color: $white;
            }
        }
    }
}


