.in-touch-form{
    &__inner{
        margin: 0 auto;
        display: flex;
        height: 390px;
        justify-content: space-around;
        background-image: url('../img/form/form_bg.png');
        background-size: cover;
        // background-attachment: fixed;
        background-position: center;
        align-items: center;
        
    }
    &__txt-box{
        width: 600px;
    }
}